/* Amberglow — wallpaper selector (grade de miniaturas) */
@import "amberglow.rasi"

window {
    width:    920px;
    location: center;
}

mainbox {
    children: [ "inputbar", "listview" ];
    padding:  14px;
    spacing:  12px;
}

listview {
    lines:        2;
    columns:      4;
    spacing:      12px;
    cycle:        true;
    scrollbar:    false;
}

element {
    orientation:   vertical;
    padding:       8px;
    border:        1px solid;
    border-color:  @border-col;
    border-radius: 0px;
}

element selected {
    background-color: @bg-focus;
    border-color:     @amber;
    text-color:       @amber-bright;
}

element-icon {
    size:             9em;
    horizontal-align: 0.5;
}

element-text {
    horizontal-align: 0.5;
    padding:          6px 0 0 0;
    font:             "DepartureMono Nerd Font Mono 10";
}
